{%extends 'base.html'%}

{%block title%} MatEcomerce -Home {%endblock%}

{%block content%}
<div class="container">
    <h3 class="my-4">Productos</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        {% for producto in productos %}
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ producto.titulo }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text">{{ producto.precio }}</p>
                    <a href="#" class="btn btn-primary">Ir a comprar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}