{%extends 'base.html'%}

{%block title%} MatEcomerce -Home {%endblock%}

{%block content%}
<div class="container">
    <h3>Productos</h3>
    <div class="container my-3 mx-3">
        <ul class="list-unstyled d-flex">
            <li>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Titulo del producto</h5>
                        <p class="card-text">Descripción del producto.</p>
                        <p class="card-text">Precio: $...</p>
                        <a href="#" class="btn btn-primary ">Ir a comprar</a>
                    </div>
                </div>
            </li>

            <li>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Titulo del producto</h5>
                        <p class="card-text">Descripción del producto.</p>
                        <p class="card-text">Precio: $...</p>
                        <a href="#" class="btn btn-primary">Ir a comprar</a>
                    </div>
                </div>
            </li>

            <li>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Titulo del producto</h5>
                        <p class="card-text">Descripción del producto.</p>
                        <p class="card-text">Precio: $...</p>
                        <a href="#" class="btn btn-primary">Ir a comprar</a>
                    </div>
                </div>
            </li>

            <li>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Titulo del producto</h5>
                        <p class="card-text">Descripción del producto.</p>
                        <p class="card-text">Precio: $...</p>
                        <a href="#" class="btn btn-primary">Ir a comprar</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{%endblock%}