{% extends 'base.html' %}

{% block title %} Página principal {% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">Productos</h1>
    <div class="row">
        {% for producto in productos %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                {% if producto.imagen %}
                <img src="data:image/jpeg;base64,{{ producto.imagen }}" class="card-img-top" alt="Imagen del producto" style="width: 100%; height: 200px; object-fit: cover;">
                {% endif %}
                <div class="card-body" style="height: 150px; overflow: hidden;"> <!-- Establecer una altura fija para la descripción -->
                    <h5 class="card-title">{{ producto.titulo }}</h5>
                    <p class="card-text" style="height: 50px; overflow: hidden; text-overflow: ellipsis;">{{ producto.descripcion }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Ver detalles</a>
                        </div>
                        <small class="text-muted">Precio: ${{ producto.precio }}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
